:root {
  font-family: "Red Hat Mono", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}


body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

[data-theme= "dark"] {
  --bg : #000000;
  --color: #ffffff;
  --main-color: #f30889;
  --input-bg: hsla(208, 50%, 50%, 6.5%);
  --input-bg-hover: hsla(208, 50%, 50%, 14%);
  --bgImg: url("/src/pages/Portfolio/components/about-me/assets/img/banner-bgd.png");
  --opacity: 100;
  --navbarShadow: 0 2px 10px rgba(255, 255, 255, 0.4);
}

[data-theme= "light"] {
  --bg : #ffffff;
  --color: #000000;
  --main-color: #f30889;
  --input-bg: hsla(208, 50%, 50%, 6.5%);
  --input-bg-hover: hsla(208, 50%, 50%, 14%);
  --bgImg: url("/src/pages/Portfolio/components/about-me/assets/img/banner-bg.png");
  --opacity: ;
  --navbarShadow: 0 2px 10px rgba(0,0,0,0.1);
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
}
